<div class="putString">
<%= form_for @mainString ,url: {action: "addNew"} ,html: {:multipart => true} do |f|%>
      <div class="form-group form-inline">
        <%= label_tag("main_string_title", "标题:") %>
        <%= f.text_field :title,class:"form-control"%>
      </div>
      <div class="form-group form-inline">
        <%= label_tag(:name, "用户名:") %>
        <%= f.text_field :name, class:"form-control"%>
      </div>
      <div class="form-group form-inline">
        <%= label_tag(:text, "正文:") %>
        <%= f.text_area :text ,class:"form-control",rows:5%>
      </div>
      <div class="form-group form-inline">
        <%= label_tag(:image, "附加图片:") %>
        <%= f.file_field :image %>
      </div>
    <%= f.submit "送出",class:"btn btn-default"%>
<% end %>
</div>

<div>
<% @strings.each do |s| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <span><%= s.title.blank? ? '无标题': s.title %></span>
        <span><%= s.name.blank? ? '无名氏': s.name %></span>
        <span><%= s.uptime %></span>
        <span>ID:<%= s.cookie %></span>
        <a href="/t/<%= s.id %>" class="btn btn-info">回复</a>
      </div>
      <div>
        <% if not s.image.blank?%>
            <%= image_tag s.image.url %>
        <% end %>
      </div>
      <div class="panel-body">
        <%= s.text %>
      </div>
    </div>
<% end %>
</div>